html {
    background: whitesmoke;
    background-size: 100%;
}
body {
    background: whitesmoke;
    color: black;
    text-align: center;
}

.leftbody {
    text-align: left;
}

#title {
    color: white;
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 125px;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid black;
    background-color: black;
    width: 30%;
}

.flip {
    margin-top: 100px;
}

#title, .flip, .flip2, .flip3, .flip4, .flip5 {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: solid 1px #a6d8a8;
    width: 40%;
    float: center;
    margin-left: 30%;
}

#fact3, #fact, #fact2, #fact4, #fact5 {
    color: black;
    width: 40%;
    float: center;
    font-family: 'Roboto', sans-serif;
    display: none;
    margin-left: 30%;

}

.earth img {
    max-width: 25%;
    float: right;
    border-radius: 5px;
    border: 5px solid white;
    margin-top: 100px;
}

.soilbox img {
    max-width: 25%;
    float: left;
    border-radius: 5px;
    border: 5px solid white;
    margin-top: 100px;

}

.npkOM img {
    max-width: 50%;
    display: block;
    display: inline-block;
}

.npkPH img {
    max-width: 50%;
    display: block;
    display: inline-block;
}

.npkOM {
    float: right;
    text-align: center;
    width: 1000px;
    margin: auto;
    margin-top: 25px;
}

.npkPH {
    float: right;
    text-align: center;
    width: 1000px;
    margin: auto;
}

#button {
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.button-about, .button-soil, .button-pictures, .button-history, .button-shop {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width:200px;
    border-radius: 4px;
}

.breakerNationalPark img {
    max-width: 65%;
    margin-top: 75px;
    float: center;
    border: 5px solid white;
    font-family: 'Roboto', sans-serif;
}

.breakerHistory {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

.mySlides {
    display:none
}

.demo {
    cursor:pointer
}

.w3-container {
    margin-top: 75px;
    font-family: 'Roboto', sans-serif;

}

.TextWrap {
    border: 1px solid black;
    float: right;
    margin: 10px;
    margin-right: 30px;
}

.TextWrapLeft {
    border: 1px solid black;
    float: left;
    margin: 10px;
    margin-left: 30px;
}
.casestudy {
    margin-top: 120px;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
}

.casestudy2 {
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;

}
.casestudy11 {
     float: center;
    margin-top: 120px;
    font-family: 'Roboto', sans-serif;
    margin-left: 230px;
    margin-right: 230px;
    text-align: center;
}

.casestudy12 {

     float: center;
    font-family: 'Roboto', sans-serif;
    margin-left: 230px;
    margin-right: 230px;
    text-align: center;
}

.casestudy13 {
    float: center;
    font-family: 'Roboto', sans-serif;
    margin-left: 230px;
    margin-right: 230px;
    text-align: center;
}

.sellingitems {
    float: left;
    width:  400px;
    height: 400px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
    margin-top: 75px;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid black;

}

.imageVert img {
    float: center;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid black;
    display: inline-block;
    margin-top: 75px;
}


